@page "/respond/{id:guid}"

<PageTitle>Proposal Response - Dungeon Dates</PageTitle>

@if (_response is null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Size="Size.Large"/>
}
else
{
    <MudGrid Spacing="2">
        <MudItem xs="12">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.h3" Color="Color.Primary" >Proposal Response</MudText>
                @if (_response.NoDatesWork)
                {
                    <MudAlert Severity="Severity.Error" ShowCloseIcon="false">
                        Unfortunately, none of the proposed dates work for all of those who answered.
                    </MudAlert>
                }
                <MudTextField Label="Your Name" @bind-Value=@_name  Variant="Variant.Outlined" Placeholder="John Doe" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudPaper Class="pa-4">
                <MudAlert Severity="Severity.Info" ShowCloseIcon="false">
                    Please answer whether you are available for each of the given date(s) below.
                </MudAlert>
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudGrid>
                @foreach (var proposedDate in _response.ProposedDates)
                {
                    <MudItem xs="12" md="6" lg="4">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom="false">@proposedDate.StartDate.ToString("ddd | MMM dd yyyy")</MudText>
                                </CardHeaderContent>
                                <CardHeaderActions>
                                    <MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom="false">
                                        @($"{proposedDate.AcceptedResponseCount} | {proposedDate.TotalResponseCount}")
                                    </MudText>
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent>
                                    @foreach (var response in proposedDate.Responses)
                                    {
                                        @if (response.Accepted)
                                        {
                                            <MudChip T="string" Icon="@Icons.Material.Filled.Check" Color="Color.Success" Size="Size.Large" Variant="Variant.Outlined">@response.Name</MudChip>
                                        }
                                        else
                                        {
                                            <MudChip T="string" Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Large" Variant="Variant.Outlined">@response.Name</MudChip>
                                        }
                                    }
                            </MudCardContent>
                            <MudCardActions>
                                @if (!_formHasBeenSubmitted)
                                {
                                    <MudToggleIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled"
                                                         ToggledIcon="@Icons.Material.Filled.Check" ToggledColor="Color.Success" ToggledVariant="Variant.Filled"
                                                         ToggledChanged="() => OnProposedDateClick(proposedDate)" Size="Size.Large" Style="width: 100%"/>
                                }
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                }
            </MudGrid>
        </MudItem>
        @if (!_formHasBeenSubmitted)
        {
            <MudItem xs="12">
                <MudButton OnClick="OnSaveClickedAsync" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large" FullWidth="true" Disabled="_isLoading">
                    <MudText Typo="Typo.h4" GutterBottom="false" Color="Color.Secondary">
                        @if (_isLoading)
                        {
                            <span>Saving...</span>
                        }
                        else
                        {
                            <span>Save</span>
                        }
                    </MudText>
                </MudButton>
            </MudItem>
        }
    </MudGrid>
}

